<div class="mr-4">
  <div class="form-group">
    <label for="time-interval">Odstęp czasowy</label>
    <input type="number" id="time-interval" class="form-control" [(ngModel)]="timeInterval" [disabled]="simulationRun"
      placeholder="Odstęp czasowy [ms]">
  </div>
  <div class="form-group">
    <label for="iteration-count">Ilość iteracji</label>
    <input type="number" id="iteration-count" class="form-control" [(ngModel)]="iterations" [disabled]="simulationRun">
  </div>
  <div class="form-group">
    <label for="start_time">Czas rozpoczęcia</label>
    <input type="text" class="form-control" [ngModel]="startTime * 1000 | date:'H:mm:ss'" [disabled]="!firstStart" id="start_time"
      #start_time>
  </div>
  <ng-container *ngIf="!simulationRun; else stopButton">
    <button type="button" class="btn btn-danger btn-block" (click)="runSimulation(start_time.value)">
      Rozpocznij symulację
    </button>
  </ng-container>
  <ng-template #stopButton>
    <button type="button" class="btn btn-danger btn-block" (click)="stopSimulation()">
      Przerwij symulację
    </button>
  </ng-template>
  <div class="row mt-2">
    <div class="col first-button mr-1">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="addCar()" [disabled]="!simulationRun">
            Dodaj samochód
        </button>
    </div>
    <div class="col second-button ml-1">
        <button type="button" class="btn btn-outline-primary btn-block" (click)="removeCar()" [disabled]="!simulationRun">
            Usuń samochód
        </button>
    </div>    
  </div>
  <div class="slidecontainer mt-2">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange" [(ngModel)]="selectedTimestamp" (input)="loadHistoryState()">
  </div>
  
  <div class="mt-2">
    <p>Ilość wykonanych iteracji: {{iteration}}</p>
  </div>  
  <table class="table mt-2">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Parametr</th>
        <th scope="col">Wartość</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Całkowite zużycie energii
        </td>
        <td>
          {{model.totalEnergyNormalUsage | number: '.3' }} [kWh]
        </td>
      </tr>
      <td>
        Całkowite zużycie energii z wykorzystaniem inteligentnego oświetlenia
      </td>
      <td>
        {{model.totalEnergyUsage | number: '.3' }} [kWh]
      </td>
      <tr>
      </tr>
    </tbody>
  </table>
</div>