<div class="mr-1">
  <div class="row mt-2 mx-1">
    Wybierz mapę
  </div>
  <div class="row mt-2">
    <div class="col first-button mr-1">
      <button type="button" class="btn btn-outline-primary btn-block" [disabled] = "predefinedModels.length == 0 || selectedModel == 0">
        Poprzednia
      </button>
    </div>
    <div class="col second-button ml-1">
      <button type="button" class="btn btn-outline-primary btn-block" [disabled] = "predefinedModels.length == 0 || selectedModel == (predefinedModels.length - 1)">
        Następna
      </button>
    </div>
  </div>
  <div class="row mt-2 button-wide">
    <button type="button" class="btn btn-primary btn-block" (click)="saveChanges()">
      Zapisz
    </button>
  </div>
</div>